.vscode
deepstream/deepstream_apps/samples
deepstream/deepstream_apps/.ipynb_checkpoints
deepstream/deepstream_apps/objectDetector_Yolo/
deepstream/deepstream_apps/objectDetector_SSD/
deepstream/deepstream_apps/objectDetector_FasterRCNN/
tensorrt/getting_started/
tensorrt/*.onnx
tensorrt/*.trt
tensorrt/*.engine
tensorrt/__pycache__
pytorch_tensorrt